<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br><br>
            <!-- Start your code here -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">Student Information</a></h2>
                        <p>This is where you can add student data and information.</p>
                    </div>
                    <hr class="custom-hr">
                </header>
                <body>
                    <form method="POST" action="/students/add" class="w3-container" id="addStudentForm">
                        <p>
                            <br>
                            <h5><strong>Personal Information</strong></h5>
                            <div class="w3-input w3-border w3-sand">
                                <i class="fa fa-user icon"></i>
                                <input class="w3-input-field" name="firstName" type="text" id="firstName"
                                    placeholder="First Name" required>
                            </div>
                        </p>
                        <p>
                            <div class="w3-input w3-border w3-sand">
                                <i class="fa fa-user icon"></i>
                                <input class="w3-input-field" name="lastName" type="text" id="lastName"
                                    placeholder="Last Name" required>
                            </div>
                        </p>
                        <p>
                            <div class="w3-input w3-border w3-sand">
                                <i class="fa fa-envelope icon"></i>
                                <input class="w3-input-field" name="email" type="email" id="email"
                                    placeholder="Email" required>
                            </div>
                        </p>
                        <p>
                            <div class="w3-row-padding">
                                <div class="w3-third">
                                    <div class="w3-input w3-border w3-sand">
                                        <i class="fa fa-home icon"></i>
                                        <input class="w3-input-field" type="text" name="addressStreet"
                                            id="addressStreet" placeholder="Address (Street)">
                                    </div>
                                </div>
                                <div class="w3-third">
                                    <div class="w3-input w3-border w3-sand">
                                        <i class="fa fa-map-marker-alt icon"></i>
                                        <input class="w3-input-field" type="text" name="addressCity" id="addressCity"
                                            placeholder="Address (City)">
                                    </div>
                                </div>
                                <div class="w3-third">
                                    <div class="w3-input w3-border w3-sand">
                                        <i class="fa fa-map icon"></i>
                                        <input class="w3-input-field" type="text" name="addressProvince"
                                            id="addressProvince" placeholder="Address (Province)">
                                    </div>
                                </div>
                            </div>
                        </p>
                        <br>
                        <h5><strong>Academic Information</strong></h5>
                        <br>
                        <div class="academic-info-row">
                            <b style="color: black !important; margin-left: 15px;">College Employment:</b>
                            <b style="color: black !important; margin-left: 175px;">Enrollment Status:</b>
                            <b style="color: black !important; margin-left: 190px;">Enrolled in Course:</b>
                        </div>
                        <div class="buttons-info-row">
                            <input class="w3-check" type="checkbox" checked="checked" name="TA" value="on" id="TA">
                            <label style="margin-right: 190px;">Teaching Assistant</label>
                            <input class="w3-radio" type="radio" name="status" value="Full Time" checked
                                id="status">
                            <label style="margin-right: 30px;">Full Time</label>
                            <input class="w3-radio" type="radio" name="status" value="Part Time"
                                id="statusPartTime">
                            <label style="margin-right: 120px;">Part Time</label>
                            <select class="w3-select w3-border w3-sand" name="option"
                                style="width: 30% !important;" id="course">
                                <option value="" disabled selected>&nbsp;Choose your course option:</option>
                                <option value="1">&nbsp;Leadership for Managers</option>
                                <option value="2">&nbsp;Programming Project</option>
                                <option value="3">&nbsp;Quality Assurance and Troubleshoot</option>
                                <option value="4">&nbsp;Security in Databases and Web Applications&nbsp;</option>
                                <option value="5">&nbsp;Web Programming</option>
                                <option value="6">&nbsp;Database Designing</option>
                                                               <option value="7">&nbsp;Enterprise Project</option>
                                <option value="8">&nbsp;Technology Planning and Acquisition</option>
                                <option value="9">&nbsp;Service Oriented Architecture</option>
                                <option value="10">&nbsp;Security in Applications&nbsp;</option>
                                <option value="11">&nbsp;Traditional Networks</option>
                            </select>
                        </div>
                        <hr class="custom-hr">
                        <button class="w3-btn w3-sand" style="margin-left: 950px;">Add Student</button>
                        <h2 style="padding-top: 10px;"></h2>
                    </form>
                </body>
            </article>
            <!-- End your code here  -->
        </main>
    </div>
</div>
<footer class="footer">
    <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
    </div>
    <p>&copy; 2024 WEB700. All rights reserved.</p>
</footer>

